 body{
        background-color:  #D3D3D3;
        font-family: Arial, sans-serif;
    }
    .header{
        text-align: center;
       
    }
    .h1{
        background-color:  #D8BFD8;
        padding: 15px;
        font-size: 56px;
        color: #4B0082;
        font-family: 'Times New Roman', Times, serif ;
    }
    input{
        padding: 15px;
        width: 300px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        margin-top: 20px;
    }
   button{
    padding:15px;
    border-radius:10px;
    border:none;
    background-color:   #6a05e0;
    color:white;
    font-size: 16px;
    cursor: pointer;
   }
   .main{
   margin-top: 30px;
    display: flex;
    justify-content: center;

   }
    ul{
     list-style-type: none;
     padding: 20px;
     width: 400px;
     background-color:     #FFFAF0;
     text-align: left;
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    li{
        padding: 15px;
    }
    li:hover{
        background-color:   #9ACD32;
        border-radius: 9px;
        cursor: pointer;
    }